<!DOCTYPE html>
<html lang="en" ng-app="indexApp">
<head>
	<meta charset="UTF-8">
	<title>The Coffee Club</title>
	<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
	<link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="57x57" href="assets/img/apple-touch-icon-57x57.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="assets/img/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-touch-icon-76x76.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="assets/img/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="120x120" href="assets/img/apple-touch-icon-120x120.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="assets/img/apple-touch-icon-144x144.png" />
	<link rel="apple-touch-icon" sizes="152x152" href="assets/img/apple-touch-icon-152x152.png" />
<!-- styles -->
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/bootstrap.css">
	<link rel="stylesheet" href="assets/css/bootstrap-responsive.css">
	<link rel="stylesheet" href="assets/css/normalize.css">
	<link rel="stylesheet" href="assets/css/font-awesome.css">
<!-- end styles -->
</head>
<body ng-controller="indexController">

<!-- container-->
<div class="container contall">

<!-- header-->
	<header class="row-fluid" ng-init="tab=5">
		<div class="span12">
			<div class="span4 brand logo"><img src="assets/img/the-coffee-club-logo.png" alt=""></div>
			<div class="span8">
				<nav class="menu">
					<div class="ribbon"><img src="assets/img/ribbon.png" alt=""></div>
					<ul>
						<li class"item" ng-class="{activate:isSelected(1)}" ng-click="selectedTab(1)"><a href="index.html">Inicio</a><i class="fa fa-home"></i></li>
						<li class"item" ng-class="{activate:isSelected(2)}" ng-click="selectedTab(2)"><a href="nuestra-empresa.html">Nuestra Empresa</a><i class="fa fa-heart"></i></li>
						<li class"item" ng-class="{activate:isSelected(3)}" ng-click="selectedTab(3)"><a href="nuestro-cafe.html">Nuestro Café</a><i class="fa fa-coffee"></i></li>
						<li class"item" ng-class="{activate:isSelected(4)}" ng-click="selectedTab(4)"><a href="servicios.html">Servicios</a><i class="fa fa-thumbs-o-up"></i></li>
						<li class"item" ng-class="{activate:isSelected(5)}" ng-click="selectedTab(5)"><a href="contacto.html">Contacto</a><i class="fa fa-phone"></i></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
<!-- end header-->

<!-- imgtop -->
	<section class="row-fluid">
		<div class="span12 imgtop">
			<img src="assets/img/img-contact2.png" alt="">
		</div>
	</section>
<!-- end imgtop -->

<!-- info -->
	<section class="row-fluid infotext">
		
		<div class="paddingbox">
			<div class="titlecat pull-right"><i class="fa fa-phone"></i> Contacto</div>
		</div>

		<div class="span12 paddingbox">

			
			
		<div class="span6 contactform">
				
				<!-- contact form -->
				
				
					<div id="ContactForm">

	    <fieldset>

	        <label for="nombre">Nombre Completo</label>

	        <input class="inputText" type="text" name="nombre" id="nombre" />

	    </fieldset>

            <fieldset>

	        <label for="email">Correo Electrónico</label>

	        <input class="inputText" type="text" name="email" id="email" />

	    </fieldset>

            <fieldset>

	        <label for="telefono">Teléfono</label>

	        <input class="inputText" type="text" name="telefono" id="telefono" />

	    </fieldset>

            <fieldset>

	        <label for="asunto">Asunto</label>

	        <input class="inputText" type="text" name="asunto" id="asunto" />

	    </fieldset>

            <fieldset>

	        <label for="mensaje">Mensaje</label>

	        <textarea class="inputText" rows="3" name="mensaje" id="mensaje"></textarea>

	    </fieldset>
	    
	    <a href="" type="submit" class="pull-right" id="enviar" value="Enviar" /><img src="assets/img/enviar.png" alt=""></a>


	    

	</div>
				
				<!-- end contact form -->

			</div>
					

			
			<div class="span6">
				<img src="assets/img/img-contact.png" alt="">
			</div>

		</div>
	</section>
<!-- end info -->

<!-- footer -->
	<footer class="row-fluid footer">
		<div class="span12">
			<div class="span8">
				<div class="span2 contactimg hidden-phone"><img src="assets/img/bg-contact.png" alt=""></div>
				<div class="span10 contacttext">
					<p>
						Para cotizaciones e información por favor contactenos a: <br/>
						<a href="mailto:info@thecoffeclub.com.co">info@thecoffeclub.com.co</a><br/>
						Movil: 320-4476960<br/>
						Bogotá-Colombia
					</p>
				</div>
			</div>
			<div class="span4 socialcont">
				<a href="https://es-es.facebook.com/thecoffeeclub2014" target="_blank"><div class="social1"></div></a>
				<a href="https://twitter.com/TheCoffeeClubCo" target="_blank"><div class="social2"></div></a>
			<div class="span10 siguenos">Síguenos</div>
			</div>
		</div>
	</footer>
<!-- end footer -->

</div>	
<!-- end container-->


<!-- scripts -->
	<script src="assets/js/angular.min.js"></script>
    <script src="assets/js/indexController.js"></script>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="assets/js/script.js"></script>
	<script src="assets/js/modernizr.js"></script>
	<script src="assets/js/prefixfree.min.js"></script>
	<script src="assets/js/bootstrap.js"></script>
	<script type='text/javascript'>
	    $(function(){
		$('.carousel').carousel({
		      interval: 4000,
		      pause: false
		    });
		$('.carousel-control.right').trigger('click');
		});
	</script>
<!-- end scripts -->
</body>
</html>